<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">GenRand</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        @* 8x *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/list/8x2/1" Match="NavLinkMatch.All">
                <span class="oi oi-grid-two-up" aria-hidden="true"></span> 8x2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/list/8x3/1" Match="NavLinkMatch.All">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> 8x3
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/list/8x4/1" Match="NavLinkMatch.All">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> 8x4
            </NavLink>
        </div>

        @* 16x *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/list/16x2/1" Match="NavLinkMatch.All">
                <span class="oi oi-grid-two-up" aria-hidden="true"></span> 16x2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/list/16x3/1" Match="NavLinkMatch.All">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> 16x3
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/list/16x4/1" Match="NavLinkMatch.All">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> 16x4
            </NavLink>
        </div>

        @* 32x *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/list/32x2/1" Match="NavLinkMatch.All">
                <span class="oi oi-grid-two-up" aria-hidden="true"></span> 32x2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/list/32x3/1" Match="NavLinkMatch.All">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> 32x3
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/list/32x4/1" Match="NavLinkMatch.All">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> 32x4
            </NavLink>
        </div>

        @* 64x *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/list/64x2/1" Match="NavLinkMatch.All">
                <span class="oi oi-grid-two-up" aria-hidden="true"></span> 64x2
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/list/64x3/1" Match="NavLinkMatch.All">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> 64x3
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/list/64x4/1" Match="NavLinkMatch.All">
                <span class="oi oi-grid-four-up" aria-hidden="true"></span> 64x4
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
